* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
i {
  font-style: normal;
}
body {
  max-width: 750Px;
  margin: 0 auto;
  background-color: #e9f7ff;
  color: #fff;
  font-size: 14px;
  font-family: "SFProText, PingFang SC-Medium, PingFang SC, sans-serif";
}
